@font-face {
    font-family: 'fbfont1';
    src: url(/fonts/FlappyBird.ttf);
}

@font-face {
    font-family: 'fbfont2';
    src: url(/fonts/FlappyBird1.ttf);
}

* {
    cursor: default;
}

body {
    background-color: gray;
    font-family: 'fbfont2', sans-serif;
}

#screenElements {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;

    animation: backgroundAnimation 92000s linear infinite;
}

@keyframes backgroundAnimation {
    to {
        background-position: 0 0;
    }
    from {
        background-position: 900000% 0;
    }
}